<!DOCTYPE html>
<html>
  <head>
    <link href='../css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <link href='../css/SignUpStyle.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/sweetalert2.min.css">
    <script src="../js/sweetalert2.min.js"></script>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/angular.min.js"></script>
  </head>
  <body ng-app="addSkillApp">
    <div class='container'>
      <div class='panel panel-primary dialog-panel'>
        <div class='panel-heading'>
          <h5>Post a new skill</h5>
        </div>
        <div class='panel-body' ng-controller="addSkillCntrl">
          <form class='form-horizontal' role='form' name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
            <div class='form-group'>
              <label class='control-label col-md-2 col-md-offset-2' for='Skill Name'>Skill Name</label>
              <div class='col-md-6'>
                <div class='form-group'>
                  <div class='col-md-11'>
                    <input ng-model="addr1" class='form-control' id='Skill Name' placeholder='Skill Name' type='text' name="skill_name" ng-required="true">
                    <div class="msg-block" style="padding-bottom: 0px;margin-bottom: 0px">
                      <span ng-show="userForm.addr1.$invalid && !userForm.addr1.$pristine" class="help-block" style="color: red;">Skill name is required.</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class='form-group'>
              <label class='control-label col-md-2 col-md-offset-2' for='id_category'>Category</label>
              <div class='col-md-8'>
                <div class='col-md-3'>
                  <div class='form-group internal'>
                    <select class='form-control' id='id_category'>
                      <option>Computer Science</option>
                      <option>Cookery</option>
                      <option>Electronics</option>
                      <option>Maths</option>
                      <option>Physics</option>
                    </select>
                  </div>
                </div>
                <div class='col-md-9'>
                  <div class='form-group internal'>
                  <label class='control-label col-md-2' for='id_time'>Timings</label>
                  <div class='time-choice col-md-8' id='id_time'>
                    <fieldset  data-ng-repeat="choice in choices">
                      <div class="col-md-7">
                        <!--<input class='form-control' type="text" ng-model="choice.name" name="" placeholder="Enter day and time">-->
                        <div class='form-group internal'>
                        <div class='col-md-6' style="padding: 0px 5px 5px 0px;margin: 0px;">
                          <!--<div class='form-group internal'>-->
                            <select class='form-control' id='id_category'>
                              <option>Wednesday</option>
                              <option>Cookery</option>
                              <option>Electronics</option>
                              <option>Maths</option>
                              <option>Physics</option>
                            </select>
                          <!--</div>-->
                        </div>
                        <div class='col-md-3' style="padding: 0px 5px 5px 0px;margin: 0px;">
                          <!--<div class='form-group internal'>-->
                            <select class='form-control' id='id_category' style="padding: 2px 0px 0px 0px;margin: 0px;">
                              <option>1</option>
                              <option>12</option>
                              <option>2</option>
                              <option>Maths</option>
                              <option>Physics</option>
                            </select>
                          <!--</div>-->
                        </div>
                        <div class='col-md-3' style="padding: 0px 5px 5px 0px;margin: 0px;">
                          <!--<div class='form-group internal'>-->
                            <select class='form-control' id='id_category' style="padding: 2px 0px 0px 0px;margin: 0px;">
                              <option>1</option>
                              <option>2</option>
                              <option>2</option>
                              <option>Maths</option>
                              <option>Physics</option>
                            </select>
                          <!--</div>-->
                        </div>
                        </div>
                      </div>
                      <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button>
                    </fieldset>
                    <button class="addfields btn-primary" ng-click="addNewChoice()">Add more timings</button>
                  </div>
                </div>
              </div>
            </div>
            <div class='form-group'>
              <label class='control-label col-md-2 col-md-offset-2' for='id_description'>Description</label>
              <div class='col-md-6'>
                <textarea class='form-control' id='id_description' placeholder='Description' rows='3'></textarea>
              </div>
            </div>
            <div class='form-group'>
              <div class='col-md-offset-4 col-sm-offset-2 col-xs-offset-2 col-md-4 col-sm-4 col-xs-4'>
                <button class='btn-lg btn-primary' type="submit" ng-disabled="userForm.$invalid" ng-click="register()">Register</button>
              </div>
              <div class='col-md-2 col-sm-2 col-xs-2'>
                <button class='btn-lg btn-danger' type="button" ng-click="cancel()">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="../js/script.js"></script>
  </body>
</html>