<div id="wrapper">
    <div id="sidebar-wrapper">
        <!-- Sidebar -->

        <div class="categorybar">
            <label style="font-size:20px; letter-spacing: 0.08em; color:white">Categories</label>
        </div>

        <div ng-controller='MainController' style="font-size:12px; letter-spacing: 0.08em; color:white">

        <!--<div flex-gt-sm="50" ng-repeat="category in categories">
          <md-checkbox md-no-ink ng-click="toggle(category)" check-list='checked_category'>
            {{ category }}
          </md-checkbox>
        </div>-->

       
          <span ng-repeat="category in categories">
            <input type='checkbox' value="{{category}}" check-list='checked_category'> {{category}}<br><br>
          </span>

          <div class="categorybar">
            <label style="font-size:20px; letter-spacing: 0.08em; color:white">Filters:</label>
          </div>

          <span ng-repeat="filter in filters">
            <input type='checkbox' value="{{filter}}" check-list='checked_filter'> {{filter}}<br><br>
          </span>

        </div>



    </div>
</div>

<style>
  .categorybar{
      top:5%;
  }
</style>