<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compartible" content="IE-edge">
    <meta name="viewport" content="width-device-width, initial-scale=1">
    <title>ShowYourSkillz</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/profilestyle.css">
    <link rel="stylesheet" href="../css/angular-material.min.css">
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/color/color-1.css" id="color"/>
    <link rel="stylesheet" href="../css/sweetalert2.min.css">
    <script src="../js/sweetalert2.min.js"></script>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/angular.min.js"></script>
    <script src="../js/material-lib/angular-animate.min.js"></script>
    <script src="../js/material-lib/angular-aria.min.js"></script>
    <script src="../js/material-lib/angular-sanitize.js"></script>
    <script src="../js/material-lib/angular-material.min.js"></script>
</head>
<body ng-app="SkillsApp" ng-controller="CourseControl">
    <nav class="navbar navbar-fixed-top z-depth-1" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand waves-effect waves-light" href="/html/home.html">ShowYourSkillz</a></li>
                </div>
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav btn-group">
                        <li class="nav-item dropdown" id="menuLogin">
                            <button type="text" class="btn btn-primary" style="text-transform: Capitalize;">  <i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i> Welcome, {{f_name}}</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li>
                                    <a href="profilePage.html">Profile</a>
                                </li>
                                <!--<li>
                                    <a href="#" ng-click="openDialog()">Add Skill</a>
                                </li>-->
                                <li class="dropdown-divider">
                                    <a href="#" ng-click="logout()">Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    <div class="wrapper">
        <div class="col-lg-2 col-sm-3 col-xs-3 col-md-2" id="sideList">
            <div class="grid1">
                <div class="grid1elements">
                    <h3>Your Course</h3>
                    <br>
                    <h4 style="text-transform: Capitalize;">{{skill_Name}}</h4>
                </div>
            </div>
        </div>

        <div class="col-lg-10 col-sm-8 col-xs-8 col-md-10">
            <div class="grid2">
                <div class='panel-body'>
                    <form class='form-horizontal' role='form' name="userForm" ng-submit="submitForm(userForm.$valid)"
                          novalidate>
                        <div class='form-group'>
                            <label class='control-label col-md-2 col-md-offset-2' for='Skill Name'>Skill Name</label>
                            <div class='col-md-6'>
                                <div class='form-group'>
                                    <div class='col-md-11'>
                                        <input ng-model="skill_Name" class='form-control' id='Skill Name'
                                               placeholder='Skill Name' type='text' name="skill_Name" ng-required="true">
                                        <div class="msg-block" style="padding-bottom: 0px;margin-bottom: 0px">
                                            <span ng-show="userForm.addr1.$invalid && !userForm.addr1.$pristine"
                                                  class="help-block" style="color: red;">Skill name is required.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class='form-group'>
                            <label class='control-label col-md-2 col-md-offset-2'>Category</label>
                            <div class='col-md-6'>
                                <div class='form-group'>
                                    <div class='col-md-11'>
                                        <select class='form-control' ng-model="cate_gory">
                                            <option>Study</option>
                                            <option>Dance</option>
                                            <option>Singing</option>
                                            <option>Arts</option>
                                            <option>Sports</option>
                                            <option>Cooking</option>
                                        </select>
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <div class='form-group'>
                            <label class='control-label col-md-2 col-md-offset-2'>Timings</label>
                            <div class='time-choice col-md-6'>
                                <fieldset data-ng-repeat="time in timings">
                                    <div class="col-md-10">
                                        <div class='form-group internal'>
                                            <div class='col-md-4' style="padding: 0px 5px 5px 0px;margin: 0px;">
                                                <select class='form-control' ng-model = "time.day">
                                                    <option>Monday</option>
                                                    <option>Tuesday</option>
                                                    <option>Wednesday</option>
                                                    <option>Thursday</option>
                                                    <option>Friday</option>
                                                    <option>Saturday</option>
                                                    <option>Sunday</option>
                                                </select>           
                                            </div>
                                            <div class='col-md-4' style="padding: 0px 0px 0px 0px;margin: 0px;">
                                                <input type="time" name="toTime" class="form-control" ng-model = "time.toTime">
                                                <!--<span>{{ time.toTime | date: 'h:mm a' }}</span>-->
                                            </div>
                                                <div class='col-md-4' style="padding: 0px 5px 5px 0px;margin: 0px;">
                                                    <input type="time" name="fromTime" class="form-control" ng-model = "time.fromTime">
                                                    <!--<span>{{ time.fromTime | date: 'h:mm a' }}</span>-->
                                                </div>
                                            </div>
                                        </div>
                                        <button class="remove btn-danger" style="max-width: 30px;" ng-show="$last" ng-click="removeChoice()">-</button>
                                    </fieldset>
                                    <button class="addfields btn-primary"  style="max-width: 30px;" ng-click="addNewChoice()">+
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class='form-group'>
                            <label class='control-label col-md-2 col-md-offset-2' for='Skill Name'>Description</label>
                            <div class='col-md-6'>
                                <div class='form-group'>
                                    <div class='col-md-11' style="padding-left: 0px;padding-right: 0px;">
                                        <textarea style="margin-bottom: 10px;" ng-model="skill_Description" class='form-control' id='id_description' placeholder='Description' name="skill_Description" ng-required="true" rows='3'></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class='form-group'>
                        <div class='col-md-offset-2 col-sm-offset-2 col-xs-offset-2 col-md-4 col-sm-4 col-xs-4'>
                            <button class='btn-lg btn-primary' type="button" ng-disabled="userForm.$invalid"
                                ng-click="updateskill()">Save
                            </button>
                        </div>
                        <div class='col-md-2 col-sm-2 col-xs-2'>
                            <button class='btn-lg btn-danger' type="button" ng-click="cancel()">Cancel
                            </button>
                        </div>
                    </div>                           
                </form>
            </div>
        </div>
    </div>
    <script src="../js/app/app.js"></script>
    <script src="../js/directives/directive.js"></script>
    <script src="../js/factory/urlFactory.js"></script>
    <script src="../js/login/loginService.js"></script>
    <script src="../js/skill/skillService.js"></script>
    <!--<script src="../js/login/loginController.js"></script>-->
    <script src="../js/skill/skillController.js"></script>
</body>
</html>