<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compartible" content="IE-edge">
      <meta name="viewport" content="width-device-width, initial-scale=1">
      <title>ShowYourSkillz</title>
      <link rel="stylesheet" href="../css/bootstrap.min.css">
      <link rel="stylesheet" href="../css/profilestyle.css">
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.7/angular-material.min.css">
      <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
      <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="../css/color/color-1.css" id="color"/>
      <link rel="stylesheet" href="../css/sweetalert2.min.css">
      <script src="../js/sweetalert2.min.js"></script>
      <script src="../js/jquery-2.1.4.min.js"></script>
      <script src="../js/bootstrap.js"></script>
      <script src="../js/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-aria.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-sanitize.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.7/angular-material.min.js"></script>
      <!--<script src="../js/script.js"></script>-->
  </head>
  <body ng-app="SkillsApp" ng-cloak>
    <nav class="navbar navbar-fixed-top z-depth-1" role="navigation">
        <!--<nav id="header-nav" class="navbar default navbar-light bg-faded">-->
            <!--<div class="container-fluid">-->
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand waves-effect waves-light" href="/html/home.html">ShowYourSkillz</a></li>
                </div>
                <div class="collapse navbar-collapse navbar-right" ng-controller="profileCntrl"  id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav btn-group">
                        <li class="nav-item dropdown" id="menuLogin">
                            <button type="text" class="btn btn-primary" style="text-transform: Capitalize;">Welcome, {{name}}</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li>
                                    <a href="profilePage.html">Profile</a>
                                </li>
                                <li>
                                    <a href="#" ng-click="openDialog()">Add Skill</a>
                                </li>
                                <li class="dropdown-divider">
                                    <a href="#" ng-click="logout()">Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    <div class="wrapper">
      <div class="col-lg-2 col-sm-3 col-xs-3 col-md-2" id="sideList">
        <div class="grid1">
          <div class="grid1elements">
            <h3>Your Profile</h3>
            <br>
            <h4 style="text-transform: Capitalize;">{{f_name}} {{l_name}}</h4>
            <div class="flowers-wrap"> 
              <form>
                <label style="font-size:16px; margin-bottom:10px; letter-spacing: 0.1em; margin-top: 20px;font-family: 'Impact';font-weight:normal;">Manage Profile</label><br>
                <div class="Skills">
                  <!--<label style="font-size:16px; margin-bottom:10px; letter-spacing: 0.1em; font-family: 'Helvetica';font-weight:normal">-->
                      <a style="color: black;" href="manageCourses.html">Manage Courses</a>
                  <!--</label>--><br>
                </div>
                <!--<label style="font-size:13px; margin-bottom:10px; letter-spacing: 0.05em; font-family: 'Helvetica'; font-weight: 100;" ng-click="openManageCourses()">Manage Courses</label><br>-->
              </form>                                 
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-10 col-sm-8 col-xs-8 col-md-10">
        <div class="grid2">
          <div class="grid2elements">
            <div class='panel-body'>
              <form class='form-horizontal' role='form' name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
                <div class='form-group'>
                  <label class='control-label col-md-2 col-lg-2' for='id_first_name'>Name</label>
                  <div class='col-md-8'>
                    <div class='col-md-4 indent-small'>
                      <div class='form-group internal'>
                        <input class='form-control' id='id_first_name' placeholder='First Name' type='text' name="f_name" ng-model="f_name" ng-disabled="true">
                      </div>
                    </div>
                    <div class='col-md-4 indent-small'>
                      <div class='form-group internal'>
                        <input class='form-control' id='id_last_name' placeholder='Last Name' type='text' name="l_name" ng-model="l_name" ng-disabled="true">
                      </div>
                    </div>
                  </div>
                </div>
                <!--Address Section Starts-->
                <div class='form-group'>
                  <label class='control-label col-md-2 col-md-offset-2' for='AddressLine1'>Address</label>
                  <div class='col-md-6'>
                    <div class='form-group'>
                      <div class='col-md-11'>
                        <input ng-model="addr1" class='form-control' id='AddressLine1' placeholder='Address Line1' type='text' name="addr1" ng-required="true">
                        <p ng-show="userForm.addr1.$invalid && !userForm.addr1.$pristine" class="help-block" style="color: red;">Address line1 is required.</p>
                      </div>
                    </div>
                    <div class='form-group internal'>
                      <div class='col-md-11'>
                        <input class='form-control' id='AddressLine2' placeholder='Address Line2' type='text' name="addr2" ng-model="addr2">
                      </div>
                    </div>
                    <div class='col-md-4 indent-small'>
                      <div class='form-group internal'>
                        <input class='form-control' id='City' placeholder='City' type='text' name="city" ng-model="city" ng-required="true">
                        <p ng-show="userForm.city.$invalid && !userForm.city.$pristine" class="help-block" style="color: red;">City is required.</p>
                      </div>
                    </div>
                    <div class='col-md-4 indent-small'>
                      <div class='form-group internal'>
                        <input class='form-control' id='State' placeholder='State' type='text' name="state" ng-model="state" ng-required="true">
                        <p ng-show="userForm.state.$invalid && !userForm.state.$pristine" class="help-block" style="color: red;">State is required.</p>
                      </div>
                    </div>
                    <div class='col-md-3 indent-small'>
                      <div class='form-group internal'>
                        <input class='form-control' id='Zip_code' placeholder='Zipcode' type='text' name="zipcode" ng-model="zipcode" ng-required="true">
                        <p ng-show="userForm.zipcode.$invalid && !userForm.zipcode.$pristine" class="help-block" style="color: red;">Zipcode is required.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Address Section Ends-->
                <div class='form-group'>
                  <label class='control-label col-md-2 col-md-offset-2' for='id_email'>Contact</label>
                  <div class='col-md-6'>
                    <div class='form-group'>
                      <div class='col-md-11'>
                        <input class='form-control' id='id_email' placeholder='E-mail' type='email' name="email" ng-model="email" ng-disabled="true">
                      </div>
                    </div>
                    <div class='form-group internal'>
                      <div class='col-md-11'>
                        <input class='form-control' id='id_phone' placeholder='Phone: (xxx) - xxx xxxx' type='text' name="ph_number" ng-model="ph_number">
                      </div>
                    </div>
                  </div>
                </div>
                <div class='form-group'>
                  <label class='control-label col-md-2 col-md-offset-2' for='password'>Password</label>
                  <div class='col-md-6'>
                    <div class='form-group'>
                      <div class='col-md-11'>
                        <input class='form-control' id='password' placeholder='Password' type='password' name="pass" ng-model="pass" ng-minlength="3" ng-required="true">
                        <p ng-show="userForm.pass.$invalid && !userForm.pass.$pristine && userForm.pass.$touched" class="help-block" style="color: red;">Password is required.</p>
                        <p ng-show="!userForm.pass.$pristine && userForm.pass.$error.minlength && userForm.pass.$touched" class="help-block" style="color: red;">Password should be atleast 3 characters long.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class='form-group'>
                  <label class='control-label col-md-2 col-md-offset-2' for='confirm_password'>Confirm Password</label>
                  <div class='col-md-6'>
                    <div class='form-group'>
                      <div class='col-md-11'>
                        <input class='form-control' id='confirm_password' placeholder='Confirm Password' type='password' name="cnfPass" ng-model="cnfPass" compare-to="pass" ng-required="true">
                        <div class="msg-block">
                          <span class='msg-error' ng-show="userForm.cnfPass.$invalid && !userForm.cnfPass.$pristine && userForm.cnfPass.$error" class="help-block" style="color: red;">Password do not match.</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class='form-group'>
                  <div class='col-md-offset-2 col-md-4 col-sm-4 col-xs-4'>
                    <button class='btn-lg btn-primary' type="submit" ng-disabled="userForm.$invalid || userForm.$pristine" ng-click="register()">Save</button>
                  </div>
                <div class='col-md-2 col-sm-8 col-xs-8'>
                  <button class='btn-lg btn-danger' type="button" ng-click="cancel()">Cancel</button>
                </div>     
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
      <script src="../js/app/app.js"></script>
      <script src="../js/directives/directive.js"></script>
      <script src="../js/factory/urlFactory.js"></script>
      <script src="../js/login/loginService.js"></script>
      <script src="../js/signUp/signUpService.js"></script>
      <script src="../js/skill/skillService.js"></script>
      <!--<script src="../js/login/loginController.js"></script>-->
      <script src="../js/signUp/signUpController.js"></script>
      <script src="../js/skill/skillController.js"></script>
  </body>
</html>